<section id="hero_section" class="top_cont_outer">
  <div class="dark-back">
    <div class="hero_wrapper">
      <div class="container">
        <div class="hero_section">
          <div class="row">
            <div class="col-lg-5 col-sm-7">
              <div class="top_left_cont zoomIn wow animated">
                <h2>stay ahead in tech evolution!</h2>
                <p>
                  Bridger is a leading technology solutions provider that
                  specializes in helping businesses achieve their digital
                  transformation goals. Our team of experts brings years of
                  experience and expertise to the table, delivering cutting-edge
                  IT services and comprehensive consulting to ensure our clients
                  stay ahead of the curve.
                </p>
                <a href="#service" class="read_more2">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
