<section id="service">
  <div class="container">
    <h2>Services</h2>
    <div class="service_wrapper">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow zoomIn">
              <span><i class="fa fa-code"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">Software development</h3>
            <p class="animated fadeInDown wow">
              We develop software products that can be used by businesses or
              individuals. This can include desktop or mobile applications,
              web-based services, cloud-based services, and more.
            </p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft">
          <div class="service_block">
            <div class="service_icon icon2 delay-03s animated wow zoomIn">
              <span> <i class="fa-regular fa-browser"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">
              Website development and design
            </h3>
            <p class="animated fadeInDown wow">
              website development and design services, including creating custom
              websites, updating existing websites, and providing website
              maintenance and support.
            </p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft">
          <div class="service_block">
            <div class="service_icon icon3 delay-03s animated wow zoomIn">
              <span><i class="fa fa-html5"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">Cloud computing</h3>
            <p class="animated fadeInDown wow">
              Cloud computing allows businesses to store and access data and
              applications over the internet, rather than on a local server. We
              can provide cloud-based services such as hosting, data storage,
              and data management.
            </p>
          </div>
        </div>
      </div>
      <div class="row borderTop">
        <div class="col-lg-4 mrgTop">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow zoomIn">
              <span><i class="fa fa-dropbox"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">IT consulting</h3>
            <p class="animated fadeInDown wow">
              We provide consulting services to help businesses improve their IT
              infrastructure, optimize their processes, and make
              technology-related decisions.
            </p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft mrgTop">
          <div class="service_block">
            <div class="service_icon icon2 delay-03s animated wow zoomIn">
              <span><i class="fa fa-slack"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">Cybersecurity</h3>
            <p class="animated fadeInDown wow">
              As cyber threats continue to evolve, wa can provide cybersecurity
              services to help businesses protect their data and systems from
              cyber attacks.
            </p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft mrgTop">
          <div class="service_block">
            <div class="service_icon icon3 delay-03s animated wow zoomIn">
              <span><i class="fa fa-users"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">
              Data analytics and business intelligence
            </h3>
            <p class="animated fadeInDown wow">
              we can help businesses analyze their data and extract valuable
              insights that can inform their decision-making processes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
