<BridgerHeader />

<!--Header_section-->

<!--Hero_Section-->
<hero-section />

<!--Hero_Section-->

<about-section />
<!--Aboutus-->

<!--Service-->
<section id="service">
  <div class="container">
    <h2>Services</h2>
    <div class="service_wrapper">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow zoomIn">
              <span><i class="fa fa-code"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">Software development</h3>
            <p class="animated fadeInDown wow">
              We develop software products that can be used by businesses or
              individuals. This can include desktop or mobile applications,
              web-based services, cloud-based services, and more.
            </p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft">
          <div class="service_block">
            <div class="service_icon icon2 delay-03s animated wow zoomIn">
              <span> <i class="fa-regular fa-browser"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">
              Website development and design
            </h3>
            <p class="animated fadeInDown wow">
              website development and design services, including creating custom
              websites, updating existing websites, and providing website
              maintenance and support.
            </p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft">
          <div class="service_block">
            <div class="service_icon icon3 delay-03s animated wow zoomIn">
              <span><i class="fa fa-html5"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">Cloud computing</h3>
            <p class="animated fadeInDown wow">
              Cloud computing allows businesses to store and access data and
              applications over the internet, rather than on a local server. We
              can provide cloud-based services such as hosting, data storage,
              and data management.
            </p>
          </div>
        </div>
      </div>
      <div class="row borderTop">
        <div class="col-lg-4 mrgTop">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow zoomIn">
              <span><i class="fa fa-dropbox"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">IT consulting</h3>
            <p class="animated fadeInDown wow">
              We provide consulting services to help businesses improve their IT
              infrastructure, optimize their processes, and make
              technology-related decisions.
            </p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft mrgTop">
          <div class="service_block">
            <div class="service_icon icon2 delay-03s animated wow zoomIn">
              <span><i class="fa fa-slack"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">Cybersecurity</h3>
            <p class="animated fadeInDown wow">
              As cyber threats continue to evolve, wa can provide cybersecurity
              services to help businesses protect their data and systems from
              cyber attacks.
            </p>
          </div>
        </div>
        <div class="col-lg-4 borderLeft mrgTop">
          <div class="service_block">
            <div class="service_icon icon3 delay-03s animated wow zoomIn">
              <span><i class="fa fa-users"></i></span>
            </div>
            <h3 class="animated fadeInUp wow">
              Data analytics and business intelligence
            </h3>
            <p class="animated fadeInDown wow">
              we can help businesses analyze their data and extract valuable
              insights that can inform their decision-making processes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Service-->

<!-- Portfolio -->
<section id="solutions" class="content">
  <!-- Container -->
  <div class="container portfolio_title">
    <!-- Title -->
    <div class="section-title">
      <h2>Solutions</h2>
    </div>
    <!--/Title -->
  </div>
  <!-- Container -->

  <div class="portfolio-top"></div>

  <!-- Portfolio Filters -->
  <div class="portfolio">
    <div id="filters" class="sixteen columns">
      <ul class="clearfix">
        <li>
          <a id="all" href="#" data-filter="*" class="active">
            <h5>All</h5>
          </a>
        </li>
        <li>
          <a class="" href="#" data-filter=".prototype">
            <h5>Prototype</h5>
          </a>
        </li>
        <li>
          <a class="" href="#" data-filter=".design">
            <h5>Design</h5>
          </a>
        </li>
        <li>
          <a class="" href="#" data-filter=".android">
            <h5>Android</h5>
          </a>
        </li>
        <li>
          <a class="" href="#" data-filter=".appleIOS">
            <h5>Apple IOS</h5>
          </a>
        </li>
        <li>
          <a class="" href="#" data-filter=".web">
            <h5>Web App</h5>
          </a>
        </li>
      </ul>
    </div>
    <!--/Portfolio Filters -->

    <!-- Portfolio Wrapper -->
    <div
      class="isotope fadeInLeft animated wow"
      style="position: relative; overflow: hidden; height: 480px"
      id="portfolio_wrapper"
    >
      <!-- Portfolio Item -->
      <div
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four appleIOS isotope-item"
      >
        <div class="portfolio_img">
          <img src="img/portfolio_pic1.jpg" alt="Portfolio 1" />
        </div>
        <div class="item_overlay">
          <div class="item_info">
            <h4 class="project_name">Mobile App</h4>
          </div>
        </div>
      </div>
      <!--/Portfolio Item -->

      <!-- Portfolio Item-->
      <div
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(337px, 0px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four design isotope-item"
      >
        <div class="portfolio_img">
          <img src="img/portfolio_pic2.jpg" alt="Portfolio 1" />
        </div>
        <div class="item_overlay">
          <div class="item_info">
            <h4 class="project_name">Finance App</h4>
          </div>
        </div>
      </div>
      <!--/Portfolio Item -->

      <!-- Portfolio Item -->
      <div
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(674px, 0px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four design isotope-item"
      >
        <div class="portfolio_img">
          <img src="img/portfolio_pic3.jpg" alt="Portfolio 1" />
        </div>
        <div class="item_overlay">
          <div class="item_info">
            <h4 class="project_name">GPS Concept</h4>
          </div>
        </div>
      </div>
      <!--/Portfolio Item-->

      <!-- Portfolio Item-->
      <div
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(1011px, 0px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four android prototype web isotope-item"
      >
        <div class="portfolio_img">
          <img src="img/portfolio_pic4.jpg" alt="Portfolio 1" />
        </div>
        <div class="item_overlay">
          <div class="item_info">
            <h4 class="project_name">Shopping</h4>
          </div>
        </div>
      </div>
      <!-- Portfolio Item -->

      <!-- Portfolio Item -->
      <div
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four design isotope-item"
      >
        <div class="portfolio_img">
          <img src="img/portfolio_pic5.jpg" alt="Portfolio 1" />
        </div>
        <div class="item_overlay">
          <div class="item_info">
            <h4 class="project_name">Management</h4>
          </div>
        </div>
      </div>
      <!--/Portfolio Item -->

      <!-- Portfolio Item -->
      <div
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four web isotope-item"
      >
        <div class="portfolio_img">
          <img src="img/portfolio_pic6.jpg" alt="Portfolio 1" />
        </div>
        <div class="item_overlay">
          <div class="item_info">
            <h4 class="project_name">Artificial intelligence</h4>
          </div>
        </div>
      </div>
      <!--/Portfolio Item -->

      <!-- Portfolio Item  -->
      <div
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four design web isotope-item"
      >
        <div class="portfolio_img">
          <img src="img/portfolio_pic7.jpg" alt="Portfolio 1" />
        </div>
        <div class="item_overlay">
          <div class="item_info">
            <h4 class="project_name">Entreprise resource management</h4>
          </div>
        </div>
      </div>
      <!--/Portfolio Item -->

      <!-- Portfolio Item -->
      <div
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1);
          width: 337px;
          opacity: 1;
        "
        class="portfolio-item one-four android isotope-item"
      >
        <div class="portfolio_img">
          <img src="img/portfolio_pic8.jpg" alt="Portfolio 1" />
        </div>
        <div class="item_overlay">
          <div class="item_info">
            <h4 class="project_name">Big Data</h4>
          </div>
        </div>
      </div>
      <!--/Portfolio Item -->
    </div>
    <!--/Portfolio Wrapper -->
  </div>
  <!--/Portfolio Filters -->

  <div class="portfolio_btm"></div>

  <div id="project_container">
    <div class="clear"></div>
    <div id="project_data"></div>
  </div>
</section>
<!--/Portfolio -->

<section id="parteners" class="content">
  <div class="container client">
    <h2 class="theme logoListing__title">Clients</h2>
    <p class="logoListing__desc">
      De la réflexion stratégique à la réalisation de produit ou service, nous
      vous accompagnons à chaque étape du processus avec une vision long terme.
      Quel que soit le secteur d’activité, nous considérons nos projets comme
      des relations humaines avant tout. Vos équipes seront accompagnées par nos
      experts avec la même passion et les mêmes valeurs : l’intégrité, le
      plaisir et la transmission. <br />Voici quelques-unes de nos relations.
    </p>
    <ul class="logoListing__logosWrap">
      <li class="logoListing__logo">
        <a
          href="https://www.ekino.fr/use-case/mycanal/"
          title="CANAL+"
          target="_blank"
        >
          <picture>
            <source
              media="(max-width:600px)"
              srcset="https://www.ekino.fr/uploads/2020/09/Logo-Canal@2x.png"
            />
            <source
              media="(min-width:601px)"
              srcset="https://www.ekino.fr/uploads/2020/08/logoCanal.png"
            />
            <img
              src="https://www.ekino.fr/uploads/2020/08/logoCanal.png"
              alt="CANAL+"
            />
          </picture>
        </a>
      </li>
      <li class="logoListing__logo">
        <a href="https://www.renault.fr/" title="Renault" target="_blank">
          <picture>
            <source
              media="(max-width:600px)"
              srcset="https://www.ekino.fr/uploads/2021/09/Sans-titre-2.png"
            />
            <source
              media="(min-width:601px)"
              srcset="https://www.ekino.fr/uploads/2021/09/Sans-titre-2.png"
            />
            <img
              src="https://www.ekino.fr/uploads/2021/09/Sans-titre-2.png"
              alt="Renault"
            />
          </picture>
        </a>
      </li>
      <li class="logoListing__logo">
        <a
          href="https://www.ekino.fr/use-case/bollore-transport-logistics/"
          title="Bolloré Logistics"
          target="_blank"
        >
          <picture>
            <source
              media="(max-width:600px)"
              srcset="https://www.ekino.fr/uploads/2021/09/Sans-titre3-2.png"
            />
            <source
              media="(min-width:601px)"
              srcset="https://www.ekino.fr/uploads/2021/09/Sans-titre3-2.png"
            />
            <img
              src="https://www.ekino.fr/uploads/2021/09/Sans-titre3-2.png"
              alt="Bolloré Logistics"
            />
          </picture>
        </a>
      </li>
      <li class="logoListing__logo">
        <a
          href="https://www.ekino.fr/use-case/euler-hermes/"
          title="Euler Hermes"
          target="_blank"
        >
          <picture>
            <source
              media="(max-width:600px)"
              srcset="https://www.ekino.fr/uploads/2020/09/EulerHermes_logo.png"
            />
            <source
              media="(min-width:601px)"
              srcset="https://www.ekino.fr/uploads/2020/09/EulerHermes_logo.png"
            />
            <img
              src="https://www.ekino.fr/uploads/2020/09/EulerHermes_logo.png"
              alt="Euler Hermes"
            />
          </picture>
        </a>
      </li>
      <li class="logoListing__logo">
        <a
          href="https://www.ekino.fr/use-case/orange/"
          title="Orange"
          target="_blank"
        >
          <picture>
            <source
              media="(max-width:600px)"
              srcset="https://www.ekino.fr/uploads/2021/04/logo-orange@3x.png"
            />
            <source
              media="(min-width:601px)"
              srcset="https://www.ekino.fr/uploads/2021/04/logo-orange@3x.png"
            />
            <img
              src="https://www.ekino.fr/uploads/2021/04/logo-orange@3x.png"
              alt="Orange"
            />
          </picture>
        </a>
      </li>
      <li class="logoListing__logo">
        <a
          href="https://www.ekino.fr/use-case/idemia/"
          title="Idemia"
          target="_blank"
        >
          <picture>
            <source
              media="(max-width:600px)"
              srcset="https://www.ekino.fr/uploads/2021/04/logo-idemia@3x.png"
            />
            <source
              media="(min-width:601px)"
              srcset="https://www.ekino.fr/uploads/2021/04/logo-idemia@3x.png"
            />
            <img
              src="https://www.ekino.fr/uploads/2021/04/logo-idemia@3x.png"
              alt="Idemia"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
<!--client_logos-->

<!--/Team-->
<!--Footer-->
<BridgerFooter />
